.container {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.wrapper {
  width: 70%;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, .1);
  font-family: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial;
  word-break: break-word;
  line-height: 1.75;
  font-weight: 400;
  font-size: 15px;
  color: #333;

  .title {
    text-align: center;
    width: 100%;
  }

  .datetime {
    text-align: center;
  }

  .description {
    color: #888;
    margin-top: 20px;
  }

  .tag {
    text-align: center;
  }

  .content {
    font-size: 14px;
    max-width: 1024px;
    width: 100%;

    h1, h2, h3, h4, h5, h6 {
      line-height: 1.5;
      margin-top: 35px;
      margin-bottom: 10px;
      padding-bottom: 5px;
    }

    h1 {
      padding: 7px 0;
      font-size: 28px;
      margin: 0;
    }

    h2 {
      padding-bottom: 12px;
      font-size: 24px;
      border-bottom: 1px solid #ececec;
    }

    h3 {
      font-size: 18px;
      padding-bottom: 0;
    }

    img {
      max-width: 100%;
      border: 1px solid #efefef;
      margin: 4px 0;
    }

    pre {
      display: block;
      padding: 10px 16px;
      margin: 0 0 10px;
      font-size: 13px;
      line-height: 1.42857143;
      color: #abb2bf;
      background: #282c34;
      word-break: break-all;
      word-wrap: break-word;
      border: 1px solid #ccc;
      border-radius: 5px;
      line-height: 1.5em;

      > code {
        color: inherit;
        background-color: inherit;
        border-radius: inherit;
        padding: 0;
        margin: 0;
      }
    }

    code {
      word-break: break-word;
      border-radius: 2px;
      overflow-x: auto;
      background-color: #fff5f5;
      color: #ff502c;
      font-size: .87em;
      padding: 0.065em 0.4em
    }

    small,
    a {
      font-size: 0.8em;
    }

    //.codebox {
    //  display: block;
    //  padding: 0.8em;
    //  margin: 0 0 1em;
    //  font-size: 0.9em;
    //  line-height: 1.5;
    //  color: #333;
    //  word-break: break-all;
    //  word-wrap: break-word;
    //  background-color: #f5f5f5;
    //  border: 1px solid #ccc;
    //  border-radius: 4px;
    //}

    p {
      line-height: inherit;
      margin-top: 22px;
      margin-bottom: 22px;
    }

    div {
      font-size: 1em;
      text-align: justify;
    }

    .artical-detail-date {
      color: #948c76;
      margin: 2em 0 5em;
      font-size: 0.8em;
    }

    a {
      color: #06c;

      &:hover {
        text-decoration: underline;
      }
    }

    iframe {
      width: 100%;
      height: 500px;
      border: none;
      border-radius: 4px;
    }

    blockquote {
      color: #666;
      padding: 1px 23px;
      margin: 22px 0;
      border-left: 4px solid #cbcbcb;
      background-color: #f8f8f8
    }

    ul,
    ol {
      padding-left: 28px;

      li {
        padding-left: 6px;
        margin-top: 8px;
      }
    }

  }
}
